.membership-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-color);
    border-radius: 20px;
    padding: 4rem 2rem;

    h1 {
        font-size: 3rem;
        font-family: var(--font-heading);
        font-weight: 500;
        text-align: center;
    }
}

.membership-group {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;

    .membership-card {
        background-color: var(--white-color);
        border-radius: 20px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        max-width: 25rem;

        img {
            margin: 2rem 2rem 0 2rem;
            width: 3.125rem;
            height: auto;
        }

        h2 {
            font-size: 1.125rem;
            font-weight: 600;
            margin-left: 2rem;
        }

        hr {
            width: 80%;
            opacity: 0.2;
            border-color: var(--grey-color);
        }

        p {
            font-size: 1rem;
            color: var(--gray-color);
            margin-left: 2rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 1rem 0;
            margin-left: 2rem;

            li {
                position: relative;
                padding-left: 1.5rem;
                margin-bottom: 0.5rem;
                color: var(--gray-color);

                &::before {
                    content: "\f058";
                    font-family: var(--font-fa-regular);
                    color: var(--primary-color);
                    font-size: 1em;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }

        .card-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--dark-color);
            color: var(--white-color);
            border-radius: 20px;
            padding: 1rem;

            .top-row {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 1rem 0 1rem 0;
                padding-bottom: 2rem;
                border-bottom: 1px solid var(--gray-color);
            }

            h3 {
                font-size: 1rem;
                font-weight: 200;
                line-height: 1.6rem;
                margin: 0;
                color: var(--white-color);

                .price {
                    font-size: 1.5rem;
                }

                .period {
                    font-size: .875rem;
                }
            }

            p {
                font-size: .875rem;
                font-weight: 200;
                color: var(--white-color);
                margin: 0 0 1rem 0;
            }

            .menu-item-button {
                background-color: var(--primary-color);
                border: none;
                font-weight: 500;
                max-width: 8.438rem;
            }
        }
    }

    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--dark-color);
        padding: 0;
        position: relative;
        height: 38.25rem;

        h2 {
            font-size: 1.125rem;
            font-weight: 600;
            color: var(--white-color);
            margin: 1rem 0 0 0;
        }

        p {
            margin: 0 2rem;
            font-size: 1rem;
            font-weight: 200;
            color: var(--white-color);
        }

        h3 {
            margin: 0;
            font-size: 1.25rem;
            color: var(--white-color);
        }

        .menu-item-button {
            background-color: var(--primary-color);
            border: none;
            max-width: 12rem;
            margin-top: 1rem;
            font-size: 1rem;
        }

        .img {
            margin: 2rem 0 0 0;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 16.25rem;
            height: auto;
        }
    }
}

.membership-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            padding-left: 1.5rem;

            &::before {
                content: "\f058";
                font-family: var(--font-fa-regular);
                color: var(--primary-color);
                font-size: 1em;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}
.faq-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 8rem 0;
    background-color: var(--body-bg-color);

    .faq-image {
        display: flex;
        margin-left: 22rem;
        align-items: center;
        max-width: 40rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    .faq-content {
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        max-width: 40rem;

        .faq-description {
            margin-left: 2.5rem;
            padding: 0 1rem 0 2rem;
            max-width: fit-content;
            background-color: var(--dark-color);
            border-radius: 20px;
            list-style: none;

            li {
                position: relative;
                color: var(--white-color);
            }

                li::before {
                    content: "•";
                    color: var(--primary-color);
                    position: absolute;
                    left: -1.2rem;
                }
        }

        h2 {
            font-family: var(--font-heading);
            font-size: 3rem;
            font-weight: 600;
            margin: 0 0 0 2.5rem;
        }
    }

    .faq-questions {
        font-size: 1.25rem;
        font-weight: 600;
        margin: 1rem 0 0.5rem 0;
        list-style: none;

        p {
            font-size: 1rem;
            color: var(--gray-color)
        }

        .question-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 1rem 0;
        }

            .question-item img {
                width: 1.5rem;
                height: auto;
            }

        .faq-answers {
            font-size: 1rem;
            color: var(--gray-color);
            margin: 0.5rem 0 1rem 0;
            list-style: none;

            li {
                position: relative;
            }

                li::before {
                    content: "•";
                    color: var(--primary-color);
                    position: absolute;
                    left: -1.2rem;
                }
        }

        hr {
            width: 100%;
            opacity: 0.2;
            border-color: var(--gray-color);
            margin: 1rem 0;
        }
    }
}