<section class="my-account-page">
    <div class="container">
        <h1 class="my-account-page__title">My Account</h1>

        <div class="my-account-page__top">
            <partial name="Partials/Sections/MyAccount/_ProfileSidebarSection" />
            <partial name="Partials/Sections/MyAccount/_AboutMeFormSection" />
        </div>
    </div>
</section>