<aside class="account-sidebar">
    <div class="account-sidebar__image-wrapper">
        <img class="account-sidebar__image" src="~/images/about-me-image.png" alt="Profile image" />
    </div>

    <div class="account-sidebar__menu-card">
        <div class="account-sidebar__menu-title">Menu Options</div>

        <nav class="account-sidebar__menu">
            <a class="account-sidebar__menu-link account-sidebar__menu-link--active" href="#">
                <span>About Me</span>
                <span>&rsaquo;</span>
            </a>

            <a class="account-sidebar__menu-link" href="#">
                <span>My Membership</span>
                <span>&rsaquo;</span>
            </a>

            <a class="account-sidebar__menu-link" href="#">
                <span>My Bookings</span>
                <span>&rsaquo;</span>
            </a>

            <a class="account-sidebar__menu-link" href="#">
                <span>Sign Out</span>
                <span>&rsaquo;</span>
            </a>
        </nav>
    </div>

    <div class="account-sidebar__remove">
        <p>If you’d like to cancel your account click below</p>
        <a href="#">Remove Account</a>
    </div>
</aside>