<section class="account-statistics">
    <div class="account-statistics__wrapper">
        <h2 class="account-statistics__title">My Statistics</h2>

        <div class="account-statistics__card">
            <div class="account-statistics__item">
                <div class="account-statistics__label-row">
                    <span>Check-In (last 30 days)</span>
                    <span>25</span>
                </div>
                <div class="account-statistics__bar">
                    <div class="account-statistics__fill" style="width: 95%;"></div>
                </div>
            </div>

            <div class="account-statistics__item">
                <div class="account-statistics__label-row">
                    <span>Weight Goal</span>
                    <span>50%</span>
                </div>
                <div class="account-statistics__bar">
                    <div class="account-statistics__fill" style="width: 50%;"></div>
                </div>
            </div>

            <div class="account-statistics__item">
                <div class="account-statistics__label-row">
                    <span>Current BMI</span>
                    <span>27</span>
                </div>
                <div class="account-statistics__bar">
                    <div class="account-statistics__fill" style="width: 65%;"></div>
                </div>
            </div>
        </div>
    </div>
</section>