@model Presentation.WebApp.Models.SetPasswordViewModel

<section class="sign-in-card">

    <div class="sign-in-card__header">
        <h2 class="sign-in-card__title">Set Your Password</h2>
        <p class="sign-in-card__description">
            Set a strong password to protect your account. For security reasons, your password must be
            at least 10 characters long.
        </p>
    </div>

    <div class="sign-in-card__divider"></div>

    <form asp-controller="Authentication" asp-action="SetPassword" method="post" class="sign-in-form">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Email">Email Address</label>
            <input asp-for="Email" type="email" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" placeholder="Enter Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-checkbox">
            <input asp-for="AcceptTerms" type="checkbox" id="terms" />
            <label for="terms">Accept user terms and conditions</label>
            <span asp-validation-for="AcceptTerms" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary sign-in-form__button">
            Continue
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </form>

</section>