@model Presentation.WebApp.Models.SetPasswordViewModel

<section class="sign-in-page">
    <div class="container">
        <partial name="Partials/Sections/Authentication/_SetPasswordFormSection" model="Model" />
    </div>
</section>