@model Presentation.WebApp.Models.SignUpViewModel

<section class="sign-in-page">
    <div class="container">
        <partial name="Partials/Sections/Authentication/_SignUpFormSection" />
    </div>
</section>
