@model Presentation.WebApp.Models.SignInViewModel

<section class="sign-in-page">
    <div class="container">
        <partial name="Partials/Sections/Authentication/_SignInFormSection" model="Model" />
    </div>
</section>