<section class="ourmembershipoffers-section">
    <section class="membership-section section">
        <div class="membership-header">
            <h1>Our Membership Offers</h1>
        </div>
        <div class="membership-group">
            <div class="membership-card">
                <img src="/images/icon.png" alt="Icon Image">
                <h2>Standard Membership</h2>
                <hr>
                <p>With the standard membership, get access to our full range of gym facilities</p>
                <ul>
                    <li>Standard Locker</li>
                    <li>High-energy group fitness classes</li>
                    <li>Motivating & supportive environment</li>
                </ul>
                <div class="card-footer">
                    <div class="top-row">
                        <h3><span class="price">495.00</span><span class="period">/monthly</span> <br>* Monthly 20 Classes</h3>
                        <button class="menu-item-button">Join Now</button>
                    </div>
                    <p>Try Any Membership Free for 1 Week</p>
                </div>
            </div>
            <div class="membership-card">
                <img src="/images/icon.png" alt="Icon Image">
                <h2>Premium Membership</h2>
                <hr>
                <p>With the premium membership, get access to our full range of gym facilities</p>
                <ul>
                    <li>Priority Support & Premium Locker</li>
                    <li>High-energy group fitness classes</li>
                    <li>Motivating & supportive environment</li>
                </ul>
                <div class="card-footer">
                    <div class="top-row">
                        <h3><span class="price">595.00</span><span class="period">/monthly</span> <br>* Monthly 20 Classes</h3>
                        <button class="menu-item-button">Join Now</button>
                    </div>
                    <p>Try Any Membership Free for 1 Week</p>
                </div>
            </div>
            <div class="membership-card cta">
                <h2>Get Your Membership</h2>
                <p>Our memberships give you access to all equipment, personalized training.</p>
                <hr>
                <h3>Call Us At: +(46) 8 410 521 00</h3>
                <button class="menu-item-button">Call Us Today</button>
                <img class="img" src="/images/membership-offers-woman-image.png" alt="Woman traning image">
            </div>
        </div>
        <div class="membership-footer">
            <ul>
                <li>Get 30 day free trial</li>
                <li>No any hidden fees pay</li>
                <li>Cancel anytime</li>
            </ul>
        </div>
    </section>
</section>